*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header {
  position: absolute;
  padding: 10px;
  font-family: "Patrick Hand SC", cursive;
  font-size: 3.5em;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 1px black;
}

.heading, .memory-date {
  font-family: "Patrick Hand SC", cursive;
  font-size: 2em;
  color: #fff;
}

.text, .memory-text {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  color: #000;
}

.placeholder {
  background-color: #34495e;
  height: 300px;
  width: auto;
}

.memory-date {
  text-align: center;
}

.memory-text {
  margin: 10px 0px;
  text-align: center;
}

.timeline {
  margin: 50px 0px;
}

.memory {
  list-style-type: none;
  position: relative;
  margin: 0 auto;
  width: 6px;
  padding-top: 50px;
  background: #FFF;
}

.memory::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background: #FFF;
  transition: background 0.5s ease-in-out;
}

.memory.in-view::after {
  background: #fff;
}

.memory-container {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  background: #52B3D9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.memory-container.in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/*.memory-container::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}*/

.memory:nth-child(odd) .memory-container {
  left: 45px;
  transform: translate3d(200px, 0, 0);
}

.memory:nth-child(odd) .memory-container.in-view {
  transform: none;
}

.memory:nth-child(odd) .memory-container::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #52B3D9 transparent transparent;
}

.memory:nth-child(even) .memory-container {
  right: 470px;
  transform: translate3d(-200px, 0, 0);
}

.memory:nth-child(even) .memory-container.in-view {
  transform: none;
}

.memory:nth-child(even) .memory-container::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #52B3D9;
}

/* ---- TIMELINE RESPONSIVENESS --- */
@media screen and (max-width: 900px) {
  .memory-container {
    width: 250px;
  }

  .memory:nth-child(even) .memory-container {
    right: 320px;
    /* 250 + 45 - 6*/
  }
}
@media screen and (max-width: 600px) {
  .memory {
    margin-left: 20px;
  }

  .memory-container {
    width: calc(100vw - 91px);
  }

  .memory:nth-child(even) .memory-container {
    left: 45px;
  }

  .memory:nth-child(even) .memory-container::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #52B3D9 transparent transparent;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

  .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }